@use "../../scss/fonts" as *;

.cart-item-wrapper {
  color: #fff;
  width: 800px;
  max-width: 90%;
  margin: 2rem auto;
  border: 1px solid rgba(255, 255, 255, 0.301);
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  font-family: $font-montserrat;

  .cart-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .cart-item-thumbnail {
      border-radius: 3px;
      margin-right: 1rem;
    }

    .cart-qty {
      display: flex;
      align-items: center;
      margin: 0 0 0 0.5rem;

      &-plus,
      &-minus {
        font-size: 1.5rem;
        cursor: pointer;
      }

      .cart-item-qty {
        margin: 0 1rem;
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }

  .delete-icon {
    width: 30px;
    margin-right: 1rem;
    cursor: pointer;
  }
}
