@use "../../scss/fonts" as *;

.game-details-wrapper {
  position: relative;
  background-color: #000814;
  overflow-x: hidden;
  height: 90vh;

  &::-webkit-scrollbar {
    width: 0;
  }

  .game-details-bg {
    position: relative;
    height: 70vh;

    img {
      height: 100%;
      width: 100%;
      background-size: cover;
      filter: blur(0.1rem) brightness(0.45);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background-image: linear-gradient(
        110.3deg,
        rgb(46, 46, 46) 4.3%,
        rgb(21, 21, 22) 96.7%
      );
      filter: blur(20px);
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -5%;
      left: 0;
      height: 50px;
      width: 100%;
      background: #000814;
      filter: blur(20px);
      z-index: 1;
    }
  }

  .details-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 3rem 0;

    .details-container {
      flex-basis: 50%;
      margin: 0;
      padding: 0;
      font-family: $font-montserrat;

      .details-title {
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }

      .carousel-wrapper {
        height: 500px;
        margin: 2rem 1rem;
        background-color: #000814;
      }

      .details-desc {
        background: #00081480;
        margin: 0 1rem 0 0;
        padding: 1rem 1.5rem;
        border-radius: 1rem;

        .long-desc {
          line-height: 1.5em;
          font-size: 1.03rem;
          font-weight: $fw-regular;
        }

        .requirements-wrapper {
          padding: 0;
          .requirement-list {
            .requirement {
              font-weight: $fw-medium;
            }
          }
        }
      }
    }

    .details-price-container {
      position: sticky;
      top: 10%;
      flex-basis: 20%;
      background: #0a0a0abd;
      height: 100%;
      border-radius: 1rem;
      padding: 1.5rem 1rem;
      font-family: $font-montserrat;

      .info-wrapper {
        padding: 0;
        .info-list {
          .info {
            font-weight: $fw-medium;
            line-height: 1.2em;
          }
        }
      }

      .add-to-cart-btn {
        all: unset;
        text-align: center;
        margin-top: 1rem;
        padding: 0.7rem 1rem;
        background-color: #3772ff;
        font-family: $font-montserrat;
        font-weight: $fw-medium;
        font-size: 1rem;
        color: #fdfdfd;
        cursor: pointer;

        &:hover {
          background-color: #3773ffe3;
        }
      }
    }
  }
}
