@use "../../scss/fonts" as *;

.navbar-wrapper {
  background-color: #051923;
  max-width: 100%;
  min-width: max-content;

  .container {
    position: relative;
    max-width: 1444px;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fdfdff;
    margin: 0 auto;

    .logo {
      font-family: $font-logo;
      font-size: 1.5rem;
      letter-spacing: 0.1em;
      cursor: pointer;
      color: #fdfdff;
    }

    .nav-lists {
      display: flex;
      align-items: center;

      .nav-cart-icon {
        fill: #fdfdff;
        height: 35px;
      }

      .nav-list {
        font-family: $font-montserrat;
        font-weight: $fw-medium;
        letter-spacing: 0.03em;
        margin: 0 1rem;
        cursor: pointer;
        text-transform: uppercase;
        color: #fdfdff;

        &.btn-signup {
          padding: 0.5rem 0.8rem;
          background-color: #3772ff;
          font-weight: $fw-semibold;
        }
      }
    }

    .hambar-menu {
      display: none;

      .mob-nav-lists {
        position: absolute;
        top: -500%;
        left: 0;
        background-color: #051923;
        border-radius: 7px;
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
        font-family: $font-montserrat;

        transition: all 500ms ease-in-out;

        .mob-nav-list {
          color: #fdfdff;
          svg {
            fill: #fdfdff;
            height: 32px;
          }

          &.btn-signup {
            padding: 0.4rem 0.5rem;
            background-color: #3772ff;
            font-weight: $fw-semibold;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media all and (max-width: 774px) {
  .navbar-wrapper {
    .container {
      width: 100vw;
      padding: 0.5rem 1rem;

      .nav-lists {
        display: none;
      }

      .hambar-menu {
        display: block;

        .mob-nav-menu-icon {
          fill: #fdfdff;
        }

        .mob-nav-lists {
          &.show {
            top: 70%;
          }
        }
      }
    }
  }
}
