@use "../../scss/fonts" as *;

.signup-wrapper {
  position: relative;
  max-width: 100vw;
  height: 100vh;

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
  }

  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.836) 30%,
      rgba(0, 0, 0, 0.733) 50%,
      rgba(0, 0, 0, 0.568)
    );
    backdrop-filter: blur(0.8px);
  }

  .signup-container {
    position: relative;
    height: 80%;
    color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10rem;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      font-family: $font-montserrat;
      max-width: 80%;
      width: 500px;

      & label {
        margin: 1rem 0;
        font-weight: $fw-medium;
        letter-spacing: 0.1em;
        font-size: 1.1rem;
      }

      & input {
        width: 100%;
        background: #000000;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 1.1rem;
        border-left: 2px solid #e7f5ffd7;
        border-right: 2px solid #e7f5ffd7;
        border-radius: 0 0 3px 3px;
        padding: 0.7rem 1rem;
        letter-spacing: 0.13em;
      }
    }

    .sign-up-btn {
      all: unset;
      text-align: center;
      margin-top: 1rem;
      padding: 0.7rem 0;
      background-color: #3772ff;
      font-family: $font-montserrat;
      font-weight: $fw-medium;
      font-size: 1.1rem;
      color: #fdfdfd;
      max-width: 80%;
      width: 500px;
      cursor: pointer;

      &:hover {
        background-color: #3773ffe3;
      }
    }
  }
}

@media all and (max-width: 774px) {
  .signup-wrapper {
    .bg-overlay {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.815) 30%,
        rgba(0, 0, 0, 0.774) 50%,
        rgba(0, 0, 0, 0.658)
      );
      backdrop-filter: blur(0.8px);
    }

    .signup-container {
      height: 80%;
      margin-left: 0;
      align-items: center;

      .input-wrapper {
        margin: 0.8rem 0;

        & label {
          font-size: 1rem;
        }
        & input {
          font-size: 1rem;
        }
      }

      .sign-up-btn {
        font-size: 1rem;
      }
    }
  }
}
